/* style.css */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    position: relative;
    text-align: center;
    color: white;
}

header img {
    width: 100%;
    height: auto;
    filter: brightness(50%);
}

header .header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header .header-content h1 {
    font-size: 3em;
    margin: 0;
}

header .header-content p {
    font-size: 1.5em;
}

nav {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    background: white;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-container, .experience-container, .education-container, .activity-container, .skills-container, .projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-info, .personal-info, .experience-item, .education-item, .activity-item, .skills-item, .project-item {
    flex: 1 1 45%;
    margin: 10px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: white;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}